body {
  margin: 0;
  background: hsl(275, 100%, 97%);
  font-family: 'Work Sans', sans-serif;
}

:root {
  --main-color: hsl(292, 42%, 14%);
}

.top-section {
  height: 260px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('images/background-pattern-desktop.svg');
}

.main-container {

  background-color: white;
  border-radius: 20px;
  padding: 20px 40px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  position: relative;
  top: -100px;
  max-width: 600px;
}

.title-header {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.title-header h1 {
  color: var(--main-color);
  font-size: 50px;
}

.content h2 {
  font-size: 20px;
  color: var(--main-color);
}

.content p {
  color: #8C6991;
  font-size: 16px;
}

.content .title-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .title-content h2:hover {
  color: hsl(292, 100%, 40%);
  transition: color 0.2s ease;
  cursor: pointer;
}

@media (max-width: 600px) {
  .main-container {
    padding: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    top: -60px;
  }

  .top-section {
    background-image: url('images/background-pattern-mobile.svg');
  }

  .title-header h1 {
    font-size: 32px;
  }

  .content h2 {
    font-size: 16px;
  }

  .content p {
    font-size: 14px;
  }

  .img-changed {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .main-container {
    padding: 24px 32px;
    max-width: 90%;
    top: -80px;
  }

  .title-header h1 {
    font-size: 42px;
  }

  .content h2 {
    font-size: 18px;
  }

  .content p {
    font-size: 15px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .main-container {
    max-width: 720px;
    padding: 30px 50px;
  }

  .title-header h1 {
    font-size: 46px;
  }
}

@media (min-width: 1281px) {
  .main-container {
    max-width: 800px;
    padding: 32px 60px;
  }

  .title-header h1 {
    font-size: 50px;
  }
}
